* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* Creating the 12-grid responsive style */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 10px;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

:root {
  --navbrown: #72695e;
  --brown: #a59e86;
  --brown2:  #5c584a;
  --lightbrown: #cec8b0;
  --white: #ffffff;
  --black: black;
}

input[type="number"] {
  width: 100%;
  padding: 17px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.9em;
}

select[name="activity"] {
  width: 100%;
  padding: 17px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 0.9em;
}

input[type="submit"] {
  width: 100%;
  padding: 17px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--brown);
  color: var(--white);
  cursor: pointer;
  font-size: 0.95em;
}

input[type="submit"]:hover {
  background-color: var(--brown2);
}

body  {
    background-color: var(--lightbrown);
    font-family: 'Roboto', sans-serif;
} 

p {
  font-size: 1.1em;
}

legend {
  font-size: 1.9em;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 28px;
}

.dropdown {
  width: 100%;
  padding: 17px 20px;
  margin: 8px 0;
  border-radius: 10px;
  font-size: 0.9em;
}

.far {
  position: relative;
  cursor: pointer;
}

.far .condi  {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  font-size: 0.84em;
  font-family: 'Roboto', sans-serif;
  left: 23em;
  top: 150%;
}

.far .sleep {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 8px;
  position: absolute;
  font-size: 0.84em;
  font-family: 'Roboto', sans-serif;
  left: 19em;
  top: 140%;
}

.far .activ {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 8px;
  position: absolute;
  font-size: 0.87em;
  font-family: 'Roboto', sans-serif;
  left: 22em;
  top: 170%;
}

.far:hover .condi {
  visibility: visible;
  opacity: 1;
}

.far:hover .sleep {
  visibility: visible;
  opacity: 1;
}

.far:hover .activ {
  visibility: visible;
  opacity: 1;
}

.cEntry {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: fixed;
}

.cEntry:hover {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
    *{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

  /* Creating the 12-grid responsive style */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
    padding: 15px;
  } 

  :root {
    --navbrown: #72695e;
    --brown: #a59e86;
    --brown2:  #5c584a;
    --lightbrown: #cec8b0;
    --white: #ffffff;
    --black: black;
  }

  #wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  select[name="activity"] {
    width: 100%;
    padding: 17px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--brown);
    color: var(--white);
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: var(--brown2);
  }

  
  [class*="col-"] {
    width: 100%;
  }

  .far {
    position: relative;
    cursor: pointer;
  }

  .far .condi  {
    visibility: hidden;
    width: 9.5em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 9px 0;
    position: absolute;
    font-size: 0.82em;
    left: 7em;
    top: 175%;
  }
  
  .far .sleep {
    visibility: hidden;
    width: 14em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    font-size: 0.82em;
    left: 0.6em;
    top: 180%;
  }
  
  .far .activ {
    visibility: hidden;
    width: 9em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    font-size: 0.82em;
    left: -11em;
    top: 185%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  *{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

  /* Creating the 12-grid responsive style */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
    padding: 15px;
  } 

  :root {
    --navbrown: #72695e;
    --brown: #a59e86;
    --brown2:  #5c584a;
    --lightbrown: #cec8b0;
    --white: #ffffff;
    --black: black;
  }

  #wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  select[name="activity"] {
    width: 100%;
    padding: 17px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--brown);
    color: var(--white);
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: var(--brown2);
  }

  
  [class*="col-"] {
    width: 100%;
  }

  .far {
    position: relative;
    cursor: pointer;
  }

  .far .condi  {
    visibility: hidden;
    width: 9.5em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 9px 0;
    position: absolute;
    font-size: 0.83em;
    left: 10em;
    top: 175%;
  }
  
  .far .sleep {
    visibility: hidden;
    width: 14em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    font-size: 0.83em;
    left: 7em;
    top: 180%;
  }
  
  .far .activ {
    visibility: hidden;
    width: 9em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    font-size: 0.83em;
    left: 3em;
    top: 185%;
  }
}


