* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }


  /* Creating the 12-grid responsive style */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

 [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #wrapper {
    display: flex;
    flex-wrap: wrap;
  }


  :root {
    --navbrown: #72695e;
    --brown2:  #5c584a;
    --lightbrown: #cec8b0;
    --white: #ffffff;
    --black: black;
  }

  body {
    font-family: 'Roboto', Arial, sans-serif;
    background: var(--lightbrown);
  }

  /* Navbar here */
  nav {
    background-color: var(--navbrown);
    height: auto;
  }

 /*.navbarlogo {
   float: left;
   width: 500px;
   height: 500px;
   overflow: hidden;
   margin-top: -6px;
   padding-top: 2%;
   padding-bottom: 2%;
   margin-left: 10%;
 }*/

 .navbarlogo {
  float: left;
  width: 300px;
  height: 100px;
  overflow: hidden;
}

 .logo {
   width: 100%;
   height: 100%;
 }

  .links {
    padding-top: 2%;
    margin: 0px;
    width: 60%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    float: right;
  }

  .links :hover {
    background-color: var(--brown2);
    height: 100%;
    border-top: 2px solid #dec6b8;
  }

  .links a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:var(--white);
    margin-right: 3%;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .links a:last-child {
    margin-right: 0%;
    padding: 2%;
    border-left: 2px solid black;
  }

  .bolded {
    border-top: 2px solid #dec6b8;
    box-shadow: 1px 2px 5px 1px #000000;
  }

  .imagediv {
    background: url("../images/officehealth_bg") no-repeat center center fixed;
    background-size: cover;
    height: 310px;
    padding: 0;
    border: 1px solid var(--black);
  }

  .imagediv h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    text-align: center;
    vertical-align: middle;
    line-height: 310px;
    color: #fad0ba;
    background-color: rgba(100 100 100 / 44%);
  }

  .textcontent {
    background-color: var(--brown);
    margin: 2%;
    box-shadow: 1px 2px 5px 1px #000000;
  }

  .textcontent p {
    margin: 1.5%;
  }

  .textcontent h1 {
    margin-left: 2%;
  }

  .button1 {
  font-weight: 600;
  padding: 1rem;
  min-width: 50%;
  border-radius: 0.75rem;
  background-color: #fbe1c1;
  font-size: large;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 1px 2px 7px rgba(123, 115, 81, 0.8);
  }

  .dropdown {
    background: #f7d8b3;
    padding: 0.8em;
    font-size: medium;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 1px 2px 7px rgba(123, 115, 81, 0.8);
  }

  .entryId {
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.349);
    padding: 2rem;
    box-shadow: 1px 2px 7px rgba(123, 115, 81, 0.8);
  }

  .sidebar{
    text-align: center;
    padding: 3rem;
  }

  .big-icon{
    font-size: x-large;
    margin-bottom: 1rem;
  }

  .text-center{
    text-align: center;
  }

  .chartdiv {
    background-color: whitesmoke;
    width: 100%;
    height: 300px;
    margin: auto;
    margin-bottom: 2rem;
    box-shadow: 1px 2px 7px rgba(123, 115, 81, 0.8);
  }

  .chartdiv2 {
    background-color: whitesmoke;
    width: 100%;
    height: 300px;
    margin: auto;
    margin-bottom: 2rem;
    box-shadow: 1px 2px 7px rgba(123, 115, 81, 0.8);
  }

  .button2 {
  background-color: transparent;
  cursor: pointer;
  }

  .icon {
    display: none;
  }

  .diaryText {
    text-align: center;
    font-size: 18px;
  }
