/* Making sure there isn't any additional spacing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }


  /* Creating the 12-grid responsive style */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #wrapper {
    display: flex;
    flex-wrap: wrap;
  }

/* Setting color variables for ease of use*/
  :root {
    --brown: #a59e86;
    --navbrown: #72695e;
    --brown2:  #5c584a;
    --lightbrown: #cec8b0;
    --white: #ffffff;
    --black: black;
  }

  body {
    background-color: var(--lightbrown);
  }

  /* Navbar here */
  nav {
    background-color: var(--navbrown);
    height: auto;
  }

 /*.navbarlogo {
   float: left;
   width: 500px;
   height: 500px;
   overflow: hidden;
   margin-top: -6px;
   padding-top: 2%;
   padding-bottom: 2%;
   margin-left: 10%;
 }*/
/* Styling the navbar and making sure it looks nice */
.navbarlogo {
  float: left;
  width: 300px;
  height: 100px;
  overflow: hidden;
}

 .logo {
   width: 100%;
   height: 100%;
 }
  .links {
    padding-top: 2%;
    margin: 0px;
    width: 60%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    float: right;
  }

  .links :hover {
    background-color: var(--brown2);
    height: 100%;
    border-top: 2px solid #dec6b8;
  }

  .links a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:var(--white);
    margin-right: 3%;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .links a:last-child {
    margin-right: 0%;
    padding: 2%;
    border-left: 2px solid black;
  }

  .bolded {
    border-top: 2px solid #dec6b8;
    box-shadow: 1px 2px 5px 1px #000000;
  }


/* Left side columns styling*/
  table {
    box-shadow: 1px 2px 5px 1px #000000;
  }

  .deleteAccount {
    margin-top: 5%;
  }

  .accDeletion input[type=submit] {
    width: 50%;
  }

  #delete {
      font-size: 1.5vw;
      box-shadow: 1px 2px 5px 1px #000000;
      background-color: brown;
  }

/* Styling all the forms on the site to match the look with the rest of the page */
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: var(--brown);
    color: var(--white);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 2px 5px 1px #000000;
  }

  input[type=submit]:hover {
    background-color: var(--brown2);
  }

  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .profileForm {
    border-radius: 5px;
    width: 300px;
  }

/* Styling the personal information-table AND the font sizes */
  legend {
      font-size: 22px;
      text-align: center;
      padding-bottom: 30px;
      padding-top: 40px;
  }

  h1 {
    margin-bottom: 40px;
    font-size: 22px;
    width: 300px;
  }

  tr {
    background-color: var(--navbrown);
    height: 50px;
    color: white;
    font-size: 2vw;
    font-size: 15px;
  }

  td {
    background-color: var(--brown) ;
    padding: 30px;
    font-size: 2vw;
    height: 50px;
    text-align: center;
  }
/* Hiding the mobile navbar hamburger-icon while in a big window */
.icon {
  display: none;
}
/* Media query for smaller monitors (and big tablets)*/
@media only screen and (min-width: 1025px) and (max-width: 1600px) {
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
    }

    /* Creating the 12-grid responsive style */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
      float: left;
      padding: 15px;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }
}
/* Media query mainly for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
    }


    /* Creating the 12-grid responsive style */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
      width: 100%;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    h1 {
      font-size: 4vw;
    }

    tr {
      background-color: var(--navbrown);
      color: white;
      font-size: 3.5vw;
      padding: 5%;
      width: 10%;
    }

    td {
      background-color: var(--brown) ;
      text-align: center;
      width: 10%;
      padding: 5%;
      font-size: 4vw;
    }

    .profileForm {
      border-radius: 5px;
      width: 100%;
    /*  height: 100%;*/
    }


    .deleteAccount {
      margin-top: 10%;
      font-weight: bold;
    }

    .deleteAccount h1 {
      text-align: center;
      font-size: 4vw;
    }

    #delete {
      width: 100%;
      font-size: 4vw;
    }

    legend {
      font-weight: bold;
      font-size: 4vw;
    }

    input[type="submit"] {
      width: 100%;
      font-size: 4vw;
    }

    form {
      font-size: 4vw;
    }

    form input[type="text"] {
      padding: 4%;
    }

    form input[type="password"] {
      padding: 4%;
    }

    form select {
      padding: 4%;
      font-size: 3vw;
    }

/* Making the forms's placeholders actually fit well on the tablet size */
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 3.5vw;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-size: 3.5vw;
    }
    :-ms-input-placeholder { /* IE 10+ */
      font-size: 3.5vw;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-size: 3.5vw;
    }


/* styling the navbar for mobile users and adding the icon to show */
    .navbarlogo {
      float: left;
      width: 150px;
      height: 130px;
      overflow: hidden;
    }

    .logo {
      width: 80%;
    }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .links {
    display: none;
    width: 100%;
    text-align: center;
  }

  /* Style navigation menu links */
  nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  nav a.icon {
    background: var(--navbrown);
    display: block;
    position: absolute;
    margin-top: 1%;
    font-size: 2em;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  nav a:hover {
    background-color: var(--navbrown);
    color: black;
  }

  .bolded {
    border: none;
    background: #420D09;
    box-shadow: 1px 2px 5px 1px #000000;
  }
  .links a:last-child {
    margin-right: 0%;
    padding: 2%;
    border: none;
  }
  }
/* Media query and stylings for mobile users */
@media only screen and (max-width: 600px) {
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
    }


    /* Creating the 12-grid responsive style */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
      width: 100%;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    table {
      box-shadow: 1px 2px 5px 1px #000000;
    }

  tr {
    background-color: var(--navbrown);
    color: white;
    font-size: 4vw;
    padding: 10px;
    width: 10%;
  }

  td {
    background-color: var(--brown) ;
    text-align: center;
    width: 10%;
    padding: 5px;
    font-size: 4vw;
  }

    .profileForm {
      border-radius: 5px;
      width: 100%;
    /*  height: 100%;*/
    }

    .deleteAccount {
      margin-top: 20%;
      font-weight: bold;
    }

    #delete {
      width: 100%;
      font-size: 4vw;
    }

    legend {
      font-weight: bold;
    }

    input[type="submit"] {
      width: 100%;
      font-size: 4vw;
    }

    .navbarlogo {
      float: left;
      width: 150px;
      height: 130px;
      overflow: hidden;
    }

    .logo {
      width: 67%;
    }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .links {
    display: none;
    width: 100%;
  }

  /* Style navigation menu links */
  nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  nav a.icon {
    background: var(--navbrown);
    display: block;
    position: absolute;
    margin-top: 5%;
    font-size: 2.5em;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  nav a:hover {
    background-color: var(--navbrown);
    color: black;
  }

  .bolded {
    border: none;
    background: #420D09;
    box-shadow: 1px 2px 5px 1px #000000;
  }
  .links a:last-child {
    margin-right: 0%;
    padding: 2%;
    border: none;
  }
  }
